<a href="https://colab.research.google.com/github/KamleshSM/Kamlesh_FSDS_Assignments/blob/main/Live_Class_Assingment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS - NOT compulsory but usefull!!
# I am not at loss if you don't submit
## send the mail to 
## send it before 0000 hrs IST | 12 AM tonight
## Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai
 
Subject: [Bootcamp 2.0 | Assignment No. 1]: 

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2. Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com
5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

# 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

-

1. NameError :- It is due to Undefine Veriable. 

eg.
 Kamlesh = 10
 
 print(kamlesh)

 NameError: name 'kamlesh' is not defined

 2. TypeError:- It is due to crating print as a veriable. Because print is reserved word in python and after using it as a veriable it can not be used as a command.

 3. TypeError: unsupported operand type(s) for -: 'int' and 'str'

 it is because we can't substract int from str.

 4. SyntaxError: invalid syntax

 int A
 here A should be in ()

 5. ValueError: invalid literal for int() with base 10: '10.2'

 here we have tried to convert a float("10.2") string into int
 float(10.2) can be converted in to int.

 6. ValueError: invalid literal for int() with base 10: ''

 here variable is empty string and we try to convert it into int.

 string with numarical value(int) can be converted into int.

# 2. Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = int(input("1st no : "))
B = int(input("2nd no : "))
sum = A+B
mul = A*B
div = A/B
print(f'''sum of A & B = {sum}
      mul of A & B ={mul}
      div of A & B ={div}
      square of A ={A**2}
      square of B = {B**2}''')

1st no : 10
2nd no : 5
sum of A & B = 15
      mul of A & B =50
      div of A & B =2.0
      square of A =100
      square of B = 25

# 3. How many reserve keywords are there in python and why we should not use them as a variable name.

-
There are 33 reserved keywords in Python.They are


and
except
lambda
with
as
finally
nonlocal
while
assert
false
None
yield
break
for
not

class
from
or

continue
global
pass

def
if
raise

del
import
return

elif
in
True

else
is
try



### If we used reserve keyword it looses its functionality.

# 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com.

In [ ]:
last_name = input("lastname = ")
first_name = input("firstname = ")
print(f"Your email ID is {last_name}.{first_name}@gmail.com")

lastname = mahajan
firstname = kamlesh
Your email ID is mahajan.kamlesh@gmail.com

# 5. Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [ ]:
print('''Hi I'm Sunny 
My address is 22\3 
I earn 20$ daily.''')

Hi I'm Sunny
My address is 22
I earn 20$ daily.

# 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
name = input("enter your name : ")
adress = input("Enter your adress : ")
date_of_birth = input("Enter your DOB(yyyy) : ")
print(f"your email id is {name}.{date_of_birth}@gmail.com")

enter your name : kamlesh
Enter your adress : pune
Enter your DOB(yyyy) : 1988
your email id is kamlesh.1988@gmail.com

# 7. Convert the following -
"22.4" into integer
"22" into complex no.

In [ ]:
A = "22.4"
print(int(float(A)))

22

In [ ]:
B = "22"
print(complex(int(B)))

(22+0j)