# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [5]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
print(f"""code for your item
          1 = 'Watch'
          2 = 'phone'
          3 = 'laptop'
          4 = 'shirt'
          0 = 'complete shooping'""")
continue_shooping = True
total = 0
while continue_shooping:
  user_code = int(input("Enter your shoping code : "))
  if user_code == 0:
    continue_shooping = False
  elif user_code == 1:
    no_of_watches = int(input("How many watches you want to purches : "))
    total = total + amazon_website[user_code - 1][1] * no_of_watches
  elif user_code == 2:
    no_of_phones = int(input("How many phones you want to purches : "))
    total = total + amazon_website[user_code - 1][1] * no_of_phones
  elif user_code == 3:
    no_of_laptop = int(input("How many laptops you want to purches : "))
    total = total + amazon_website[user_code - 1][1] * no_of_laptop
  elif user_code == 4:
    no_of_shirt = int(input("How many shirts you want to purches : "))
    total = total + amazon_website[user_code - 1][1] * no_of_shirt
  else:
    print(f"your code is {user_code} it is invalid code : ")
print(f"total = {total}")

code for your item
          1 = 'Watch'
          2 = 'phone'
          3 = 'laptop'
          4 = 'shirt'
          0 = 'complete shooping'
Enter your shoping code : 1
How many watches you want to purches : 1
Enter your shoping code : 2
How many phones you want to purches : 1
Enter your shoping code : 3
How many laptops you want to purches : 1
Enter your shoping code : 4
How many shirts you want to purches : 1
Enter your shoping code : 0
total = 66000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

==> 2 3 4 5 6 6

In [6]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [8]:
arr = (1, 2, 3, 4, 5, 6, 1 , 2)
for i in arr:
  j = arr.count(i)
  if j > 1:
    print(f"{i} is repeated")

1 is repeated
2 is repeated
1 is repeated
2 is repeated

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [11]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(0, len(list1)):
  list1[i][-1] = (500,)
print(list1)

TypeError: ignored

In [16]:
 list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in list1:
  i[:-1] + 500
print(list1)

TypeError: ignored

In [14]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1] + (500,) for i in list1])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]