# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

# 1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [ ]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text.count("iNeuron")

3

# 2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
print(txt[5:12])

, welc

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
if txt[5:12] == "iNeuron":
  print(f"it is ending with phrase 'iNeuron'")
else:
  print(f"it is not ending with phrase 'iNeuron'")

it is not ending with phrase 'iNeuron'

# 3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [ ]:
a = "Kamlesh Sharadchandra Mahajan"
b = a.split(" ")
print(f"{b[0][0]}.{b[1][0]}.{b[2]}")

k.S.Mahajan

#4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [ ]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
print("#".join(LIST))

My#name#is#Rishav#Dash

# 5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [ ]:
# isdecimal()
a = "1235"
print(a.isdecimal())

True

In [ ]:
# islower()
b = "abcf"
print(b.islower())

True

In [ ]:
# isupper()
c = "Abv"
print(c.isupper())

False

In [ ]:
# isalpha()
d = "agc"
print(d.isalpha())

True

In [ ]:
# isnumeric()
e = "1253"
print(e.isnumeric())

True

# 6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [ ]:
pan_number = input("Enter Valid Pan no. : ")
if len(pan_number) != 10:
  print(f"{pan_number} is not Valid")
elif (pan_number[-1].isalpha() != True) and (pan_number[0:5].isalpha() != True) and (pan_number[5:9].isnumeric() != True):
  print(f"{pan_number} is not Valid")
else:
  print(f"{pan_number} is Valid")

Enter Valid Pan no. : AYEPC7894X
AYEPC7894X is Valid