# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

### 1. What is indentation error? Why indentation is important? Give one simple example?

- The indentation error can occur when the spaces or tabs are not placed properly.

- Indentation is important because it improves the readability of the code.

- Example:-

```python
if True:
print("Hi")
```

# 2.  Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

In [7]:
  class_started = bool(int(input("Hey friend, is class started?: [0-False/1-True]")))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

- input command convert any input into str.
- only space(empty str) is converted into False if we try to convert it into bool.

# 3. Use if else condition to verify that dataype of `input()` method in python is always string.

In [8]:
a = input("Enter any thing to check")
if type(a) == str:
  print("it is string")
else:
  print("it is not string")

Enter any thing to check25
it is string

# 4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

### Using if elif else condition

In [9]:
a = int(input("Enter 1st Variable: "))
b = int(input("Enter 2st Variable: "))
c = int(input("Enter 3st Variable: "))

if (a>b) and (a>c):
  print("1st is largest")
elif (c>a) and (c>b):
  print("3rd is largest")

elif (b>a) and (b>c):
  print("2nd is largest")

else:
  print("No-one is largest")

Enter 1st Variable: 5
Enter 2st Variable: 10
Enter 3st Variable: 5
2nd is largest

### using only if else condition

In [10]:
a = int(input("Enter 1st Variable: "))
b = int(input("Enter 2st Variable: "))
c = int(input("Enter 3st Variable: "))

if (a > b) and ( a > c):
  print("1st is largest")
else:
  if ( b > a) and (b > c):
    print("2nd is largest")
  else:
    if (c > a) and (c > b):
      print("3rd is largest")
    else:
      print("No-one is largest")

Enter 1st Variable: 5
Enter 2st Variable: 10
Enter 3st Variable: 5
2nd is largest

# 5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```

# False

# 6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

- False because ip of 5.0 is not equal to 10/2
- ip for each float value is different

In [11]:
A = 5.0
B = 10/2
print(A is B)

False

- False because ip's of float and int are different

In [12]:
A = 5.0
B = int(10/2)
print(A is B)

False

- ip for each float value is different

In [13]:
A = 5.0
B = float(10/2)
print(A is B)

False

# 7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [4]:
a = int(input("Enter a Number: "))
if (a%3 == 0) or (a%5 == 0):
  print("That number is divisible by either 3 or 5")
else:
  print("That number is not divisible by either 3 or 5")

Enter a Number: 18
That number is divisible by either 3 or 5

# 8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [5]:
length = int(input("length = "))
width = int(input("width = "))
area = length * width
print(f"length = {length}, width = {width}, area of ractangle is {area}")
if length == width:
  print("It's Square")
else:
  print("It's Rectangle")

length = 25
width = 25
length = 25, width = 25, area of ractangle is 625
It's Square

# 9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [6]:
radius_1 = int(input("Enter radius of 1st circle : "))
radius_2 = int(input("Enter radius of 2nd circle : "))
area_1 = (3.14 * (radius_1)**2)
area_2 = (3.14 * (radius_2)**2)
print(f"area of 1st circle = {area_1}, area of 2nd circle = {area_2}")
if area_1 > area_2:
  print("circle 1 has large area")
elif area_2 > area_1:
  print("circle 2 has large area")
else:
  print("area is equal")

Enter radius of 1st circle : 12
Enter radius of 2nd circle : 12
area of 1st circle = 452.16, area of 2nd circle = 452.16
area is equal

# 10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

- if year is divisible by 400 then is_leap_year


- else if year is divisible by 100 then not_leap_year


- else if year is divisible by 4 then is_leap_year


- else not_leap_year

In [14]:
year = int(input("Enter year to check leap year : "))
if year%400 == 0:
  print("Year is Leap")
elif year%100 == 0:
  print("Year is Not Leap")
elif year%4 == 0:
  print("Year is Leap")
else:
  print("Year is Not Leap")

Enter year to check leap year : 1900
Year is Not Leap