# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [2]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest = numbers[0]
for number in numbers:
  if number > largest:
    largest = number
  else:
    largest = largest
print(largest)

525

Q2. Print all the even number between (1, 12).

In [3]:
for i in range(1,12):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [8]:
number = int(input("Enter number to find sum from 1 to number "))
sum = 0
for i in range(1,number+1):
  sum += i
print(sum )

Enter number to find sum from 1 to number 10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [13]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
blanke_list = []
for number in numbers:
  if number % 2 == 0:
    if number > 500:
      break
    elif number > 150:
      continue
    else:
      blanke_list.append(number)
  else:
    pass
print(blanke_list)

[12, 150, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [17]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]